.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

.spinner {
  border: 8px solid #f3f3f3; /* Cor de fundo */
  border-top: 8px solid #246096; /* Cor da borda do spinner */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
